<launch>


  <arg name="fcu_url" default= "/dev/ttyUSB0:921600"/>
  <arg name="gcs_url" default="" />
  <arg name="tgt_system" default="1" />
  <arg name="tgt_component" default="1" />

  <arg name="pluginlists_yaml" default="$(find mavros)/launch/px4_pluginlists.yaml" />
  <arg name="config_yaml" default="$(find mavros)/launch/px4_config.yaml" />

  <node name="mavros" pkg="mavros" type="mavros_node" required="true" clear_params="true" output="screen">
    <param name="fcu_url" value="$(arg fcu_url)" />
    <param name="gcs_url" value="$(arg gcs_url)" />
    <param name="target_system_id" value="$(arg tgt_system)" />
    <param name="target_component_id" value="$(arg tgt_component)" />
    <param name="conn_heartbeat" value="5.0" />
    <param name="conn_timeout" value="5.0" />
    <param name="startup_px4_usb_quirk" value="true" />
    <param name="mocap/use_tf" value="true"/>
    <param name="mocap/use_pose" value="false"/>
    <rosparam command="load" file="$(arg pluginlists_yaml)" />
    <rosparam command="load" file="$(arg config_yaml)" />
  </node>

  <node name="usb_cam" pkg="usb_cam" type="usb_cam_node" output="screen" >
    <param name="video_device" value="/dev/video0" />
    <param name="image_width" value="640" />
    <param name="image_height" value="480" />
    <param name="pixel_format" value="yuyv" />
    <param name="camera_frame_id" value="usb_cam" />
    <param name="io_method" value="mmap"/>
  </node>
  
  <node name="usb_cam2" pkg="usb_cam" type="usb_cam_node" output="screen" >
    <param name="video_device" value="/dev/video1" />
    <param name="image_width" value="640" />
    <param name="image_height" value="480" />
    <param name="pixel_format" value="yuyv" />
    <param name="camera_frame_id" value="usb_cam" />
    <param name="io_method" value="mmap"/>
  </node>

  <node name="ellipse_detection" pkg="missionpkg" type="el_det_fi.py" />

  <node name="offboard2" pkg="missionpkg" type="offboard2" output="screen" />

  <!--node name="offboard1" pkg="missionpkg" type="offb1.cpp" output="screen">
    <param name="wn" value="0.2" />
    <param name="r" value="3.0" />
  </node-->

</launch>
